<div class="container edit-restaurant mt-4">
  <form action="/restaurants/{{ restaurant._id }}/edit" method="POST">
    <div class="row mb-1">
      <div class="form-group col">
        <label for="name"><i class= required></i>餐廳名稱</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="請輸入餐廳名稱"
          value="{{ restaurant.name }}">
      </div>
    </div>
    <div class="row mb-2">
      <div class="form-group col-4">
        <label for="category"><i required></i>餐廳類別</label>
        <input list="categories" class="form-control" name="category" id="category" placeholder="請輸入或點選餐廳類別"
          value="{{ restaurant.category }}">
        <datalist id="categories">
          <option>日本料理</option>
          <option>中東料理</option>
          <option>韓國料理</option>
          <option>義式餐廳</option>
          <option>美式餐廳</option>
          <option>法式餐廳</option>
          <option>德國餐廳</option>
          <option>酒吧</option>
          <option>咖啡</option>
        </datalist>
      </div>
      <div class="form-group col-4">
        <label for="rating"><i required></i>餐廳評分</label>
        <span class="text-muted font-weight-lighter"> ( 0至5分，5為最滿意 ) </span>
        <input type="number" class="form-control" name="rating" id="rating" min="0" max="5" step="0.1"
          placeholder="輸入評分 0 到 5.0" value="{{ restaurant.rating }}" oninput="this.form.amountRange.value=this.value" />
        <input type="range" class="form-control-range mt-2" name="amountRange" min="0" max="5" step="0.1" value="{{ restaurant.rating }}" oninput="this.form.rating.value=this.value" />    
      </div>
      <div class="form-group col-4">
        <label for="phone"><i class="fas fa-phone-square-alt mr-1" required></i>電話</label>
        <input type="tel" class="form-control" name="phone" id="phone" placeholder="請輸入店家電話號碼"
          value="{{ restaurant.phone }}">
      </div>
    </div>
    <div class="row mb-2">
      <div class="form-group col">
        <label for="location"><i required></i>地址</label>
        <input type="text" class="form-control" name="location" id="location" placeholder="清輸入餐廳地址"
          value="{{ restaurant.location }}">
      </div>
      <div class="form-group col">
        <label for="google_map"><i required></i>Google地圖</label>
        <input type="url" class="form-control" name="google_map" id="google_map"
          placeholder="請貼上google地圖網址 https://goo.gl/maps/..." value="{{ restaurant.google_map }}">
      </div>
    </div>
    <div class="row mb-2">
      <div class="form-group col-4">
        <label for="image"><i required></i>圖片</label>
        <input type="url" class="form-control" name="image" id="image" placeholder="請附上餐廳圖片網址"
          value="{{ restaurant.image }}">
      </div>
      <div class="form-group col-8">
        <label for="description">補充資訊</label>
        <textarea class="form-control" name="description" id="description" cols="20"
          rows="5">{{ restaurant.description }}</textarea>
      </div>
    </div>
    <div class="d-flex flex-row-reverse justify-content-center mt-4">
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="/">
        <div class="btn btn-secondary mr-2">Back</div>
      </a>
    </div>
  </form>
</div>